.locations {
    display: flex;
    flex-direction: column;
}

.location {
    background-color: rgb(178, 178, 243);
    border: 1px, dotted, rgb(53, 53, 241);
    padding: 0.7rem;
    margin: 1em;
    font-weight: bold;

}